body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 900;
  margin: 0;
}

.color {
  color: #14213d;
  font-weight: 800;
}

section {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.half-width {
  width: 50%;
  padding-top: 2%;
}

.half-width img {
  width: 60%;
  padding-left: 40%;
}
#imgtag {
  display: flex;
}

.text {
  padding-top: 12%;
}

.link-button {
  padding-top: 10px;
  text-decoration: 0;
  padding: 10px 40px;
  background-image: linear-gradient(to right, #7e99fe, #66b8fc);
  color: white;
  font-weight: 00;
  border-radius: 2px;
  transition: 00.5s all;
}
.link-button:hover {
  background-image: linear-gradient(to right, #08aeea, #80d0c7);
}

.ptext {
  margin-bottom: 30px;
}

.half-width2 img {
  width: 80%;
}

.about-me {
  margin-top: 5%;
}
.half-width1 {
  padding-top: 5%;
  padding-left: 5%;
}
.center {
  text-align: center;
  width: 100%;
  padding-top: 5%;
}
.half-width3 {
  width: 33.33%;
  margin-bottom: 5%;
  margin-right: 5%;
  padding-left: 30px;
  padding-right: 10px;
  box-shadow: 0px 2px 15px rgba(2, 48, 71, 0.3);
  border-radius: 5px;
  transition: 0.2s all;
}

.half-width5:hover {
  box-shadow: 0px 2px 15px rgba(0, 150, 199, 0.5);
  border-left: 7px solid #fd8264;
}
.half-width4:hover {
  box-shadow: 0px 2px 15px rgba(0, 150, 199, 0.5);
  border-left: 7px solid #fd8264;
}
.half-width3:hover {
  box-shadow: 0px 2px 15px rgba(0, 150, 199, 0.5);
  border-left: 7px solid #fd8264;
}
.half-width4 {
  width: 33.33%;
  margin-bottom: 5%;
  margin-right: 5%;
  padding-left: 30px;
  box-shadow: 0px 2px 15px rgba(2, 48, 71, 0.3);
  border-radius: 5px;
  transition: 0.2s all;
}

.half-width5 {
  width: 33.33%;
  margin-bottom: 5%;
  padding-left: 30px;
  box-shadow: 0px 2px 15px rgba(2, 48, 71, 0.3);
  border-radius: 5px;
  transition: 0.2s all;
}
.experience {
  padding-top: 3%;
}
h2 {
  font-size: 30px;
}

footer {
  text-align: center;
  font-weight: 500;
  color: #555353;
}
